/* Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: left; /* Alinha todo o texto à esquerda */
}

header {
  background-color: #005a99;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Conteúdo principal */
main {
  margin: 20px;
}

.blog-section, .quem-somos-section, .participar-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

section p {
  font-size: 1.2em;
  line-height: 1.6;
}

section ul {
  margin: 10px 0;
}

section ul li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* Formulário de cadastro */
form {
  display: grid;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

form button {
  padding: 10px;
  background-color: #005a99;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
}

form button:hover {
  background-color: #003c70;
}

/* Rodapé */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 0.9em;
  margin-top: 10px;
}

/* Estilo para as imagens */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}

/* Seções */
section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 2em;
  color: #005a99;
  margin-bottom: 20px;
}

section p {
  font-size: 1.2em;
  line-height: 1.6;
}

section ul {
  list-style-type: none;
  padding: 0;
}

section ul li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  header {
    padding: 15px;
  }

  nav ul {
    text-align: left;
  }

  nav ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  form {
    width: 90%;
  }
}
